{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reddit-Ish</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
        body {
            background-color: silver;
            padding-top: 70px;
        }

        .list-group {line-height:30px}
    </style>
    </head>
    <body>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <ul class='nav navbar-nav'>
                  <li><h3 class="pull-right navbar-text">Reddit-ish</h3></li>
                  <li><a href="{% url 'index_view' %}">Home Page</a></li>
                  <li><a href="{% url 'subreddit_view' %}">All Subreddits</a></li>
                  <li><a href="{% url 'subreddit_create_view' %}">Add Subreddit</a></li>
                  <li><a href="{% url 'user_create_view' %}">New User</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                {% if not request.user.is_authenticated %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                  <li><a href="{% url 'logout' %}?next={% url 'subreddit_view' %}">Logout</a></li>
                  <li class="clearfix"><h5 class="pull-right navbar-text">You are logged in as: {{ request.user }}</h5></li>
                {% endif %}
              </ul>
              </div>
            </nav>

        <div class="container-fluid">

            {% block content %}
            {% endblock %}

        </div>


    </body>
</html>
