{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reddit-Ish</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
        body {
            background-color: lightgreen;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <h3>Welcome to Reddit-ish!</h3>
            <h5>You are logged in as: {{ request.user }}</h5>
            <a class="btn btn-default btn-xs" role="button" href="{% url 'subreddit_view' %}">All Subreddits</a>
            <a class="btn btn-default btn-xs" role="button" href="{% url 'subreddit_create_view' %}">Add Subreddit</a>
            <a class="btn btn-default btn-xs" role="button" href="{% url 'user_create_view' %}">Create User</a>
            {% if not request.user.is_authenticated %}
                  <a class="btn btn-default btn-xs" role="button" href="{% url 'login' %}">Login</a>

            {% else %}
                  <a class="btn btn-default btn-xs" role="button" href="{% url 'logout' %}?next={% url 'subreddit_view' %}">Logout</a>
            {% endif %}


            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
