{% extends 'base.html' %}
{% block content %}

            {% for post in object_list %}
              <div class="row">
              <div class="col-sm-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="btn-toolbar" role='group'>
                      <form class="" action="{% url 'post_upvote_view' post.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="value" value=true>
                        <button type="submit" name="">
                          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                      </form>
                    </div>
                  </div>
                  </div>

                </div>
              </div>

              <div class="col-sm-11">
              <div class="panel panel-default">
                <div class="panel-body">
                  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                  <a href="{% url 'post_detail_view' post.id %}">{{ post.title }}</a>
                </div>
                <div class="panel-footer">
                    Submitted {{ post.creation_time|timesince }} ago by {{ post.user }}
                    to <a href="{% url 'subreddit_detail_view' post.subreddit.id %}">{{ post.subreddit }}</a>
                </div>
              </div>
              </div>
            </div>
            {% endfor %}

            <h3>Recent Posts within the last 24 hours?</h3>
            {% for post in all_post %}
                <p>
                {{ post.title }}: {{ post.is_recent }}
                </p>
            {% endfor %}

            <h3>Hot Posts within the last 3 hours?</h3>
            {% for post in all_post %}
                <p>
                {{ post.title }}: {{ post.is_hot }}
                </p>
            {% endfor %}
{% endblock %}
