{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hello</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    </head>
    <body>
        <div class="container">
            <h1>Reddit-ish</h1>

            {% for sub in all_subreddit %}
                <p>
                    <a href="#">{{ sub.name }}</a>
                    <p>
                        post count - all time: {{ sub.current_count }}
                    </p>
                    <p>
                        post count - today: {{ sub.today_count }}

                    </p>
                    <p>
                        post count average - weekly: {{ sub.daily_average }}
                    </p>
                </p>
            {% endfor %}

            <h3>Recent Posts within the last 24 hours?</h3>
            {% for post in all_post %}
                <p>
                {{ post.title }}: {{ post.is_recent }}
                </p>
            {% endfor %}

            <h3>Hot Posts within the last 3 hours?</h3>
            {% for post in all_post %}
                <p>
                {{ post.title }}: {{ post.is_hot }}
                </p>
            {% endfor %}
        </div>
    </body>
</html>
