{% extends 'base.html' %}

{% block content %}
{% for subreddit in object_list %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <a href="{% url 'subreddit_detail_view' subreddit.id %}">{{ subreddit }}</a>
            </p>
            <p>
                {{ subreddit.description }}
            </p>
            <p>
                Posts: {{ subreddit.current_count }}
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
