{% extends 'base.html' %}

<!-- add a sidebar menu for all subs -->

{% block content %}
<div class="row">
<div class="col-md-10">
  {% for subreddit in object_list %}
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{% url 'subreddit_detail_view' subreddit.id %}">{{ subreddit }}</a></h3>
    </div>
    <div class="panel-body">
        <p>
            {{ subreddit.description }}
        </p>
        <p>
            <b>Posts: {{ subreddit.current_count }}</b>
        </p>
    </div>
  </div>
    {% endfor %}
</div>


<div class="col-md-2">
  <div class="affix">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class='panel-title'>Subreddits</h3>
    </div>
    <div class="panel-body">
      A list of all our subreddits.
      <hr>
      <h3>Don't see one of your interest?</h3>
      <h2><a href="{% url 'subreddit_create_view' %}">Start one!</a></h2>
    </div>
    <div class="panel-footer">
      <div class="pagination">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">
                <button type="button" class="btn btn-default btn-sm">Previous Page</button>
              </a>
            {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled='disabled'>Previous Page</button>
            {% endif %}
            {{ page_obj.number }} of {{ paginator.num_pages }}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">
                <button type="button" class="btn btn-default btn-sm">Next Page</button>
              </a>
            {% else %}
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">Next Page</button>

            {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
</div>



</div>
{% endblock %}
