{% extends 'base.html' %}

{% block content %}

    <p>
        {{ object }}
    </p>
    <p>
        {{ object.description }}
        <a href="{% url 'post_update_view' object.id %}">Update Post</a>
    </p>
    <p>
        {{ object.user }}
    </p>
    <p>
        {{ object.is_recent }}
    </p>
    <p>
        {{ object.is_hot }}
    </p>
    <p>
        <a href="{% url 'comment_create_view' object.id %}">Add Comment</a>
    </p>
    <p>
        {% for comment in object.all_comments %}
            <p>
                {{ comment.text }}
                <a href="{% url 'comment_update_view' comment.id %}">Update Comment</a>
            </p>

        {% endfor %}
    </p>

{% endblock %}
